.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.pokemon-card {
  width: calc(20% - 16px);
  margin: 8px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
